body {
	background-color:#FFFFFF;
	margin:0 auto;
	width:1040px;
	margin-top:10px;
	height:auto;
}

header {
	height:120px;
	text-align:center;
	font-weight:bold;
}

#wrapper { 
     width:1040px;
     min-width:1040px;
	 height:auto;
	 background-color:#f2f2eb;
	 font-family:"Times New Roman";
     box-shadow:0px 10px 25px #A97D5D;
     border:1px solid black;
     margin-top: 15px;
     margin-bottom: 15px;
}
	

nav#main {
	height:35px;
	background-color:#A97D5D;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

nav#main ul {
	list-style-type: none;
	margin: 15px 0;
	border: 0;
}
nav#main li {
	float:left;
	text-align: center;
	margin-left:15px;
	width:150px;
	margin: 0;
	padding: 0;
	font-size: 90%;
	font-weight: bold;
	font-family: Georgia, Times, Serif;
	color: black;
}
nav#main li a {
	display: block;
	padding: 0;
	text-decoration: none;
	width:150px;
	color:#2f2b2b;
}
nav#main li a:hover	{
	font-weight: bold;
	background: #343131;
	color:white;
	text-decoration: none;
}


#leftcolumn	{ 
	float:left;
	width:220px;
	font-size:medium;
	height:auto;
	background-color:#f2f2eb;
	box-shadow:0px 0px 5px #A97D5D;
    margin-top:20px;
    margin-bottom:20px;
} 

#leftcolumn ul	{
	list-style-type: none;
	margin: 15px 0;
	border: 0;
}

#leftcolumn li	{
	text-align: left;
	width:200px;
	margin: 0;
	padding: 0;
	font-size: 75%;
	font-weight: bold;
	font-family: Georgia, Times, Serif;
	color: black;
}

#leftcolumn	li a	{
	display: block;
	padding: 2px 0 0 0.5em;
	text-decoration: none;
	width:170px;
	color:#2f2b2b;
	background:#f2f2eb;
	height:20px;
}

#leftcolumn	li a:hover	{
	font-weight: bold;
	background: #343131;
	color:white;
	text-decoration: none;
}

#leftcolumn h3	{
	text-align:left;
	background-color:#A97D5D;
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-right:1px solid black;
	padding-left:5px;
}

#rightcolumn	{
	margin-left:220px;
	margin-top:20px;
	height:auto;
	padding: 0px 10px 10px 10px;
	font-family: "Whitney SSm A","Whitney SSm B",Helvetica,Arial,sans-serif;
	font-size:100%;
	text-align:justify;
}

#rightcolumn section	{
}

#rightcolumn section article	{
	padding: 10px 10px 10px 10px;
	box-shadow: 0px 0px 5px #A97D5D;
	margin:0px 0px 10px;
}

#rightcolumn section a	{
	color:#996600;
	font-weight:bold;
	text-decoration:none;
}

#rightcolumn section article h1	{
	background-color:#A97D5D;
	padding-left: 5px;
	border: 1px solid black;
}

#rightcolumn h3	{
	border-bottom:1px solid #A97D5D;
}

#rightcolumn section article dl dt	{
	font-weight:bold;
}

#rightcolumn section article dd	{
	padding-bottom:5px;}
	.content {padding:0px 20px 10px 30px;
}
.content {
	padding:0px 20px 10px 30px; 
} 

#footer	{
	clear:both;
	height:60px;
	text-align:center;		
	background-color:#A97D5D;
	border-top:1px solid black;*/
}   
#footer ul {
	list-style-type: none;
	margin: 15px 0;
	border: 0;
}
#footer li {
	float:right;
	text-align: center;
	margin-left:15px;
	width:150px;
	margin: 0;
	padding: 0;
	font-size: 90%;
	font-weight: bold;
	font-family: Georgia, Times, Serif;
	color: black;
}

#footer li a	{
	display: block;
	padding: 0;
	text-decoration: none;
	width:150px;
	color:#2f2b2b;
}
#footer li a:hover	{
	font-weight: bold;
	background: #343131;
	color:white;
	text-decoration: none;
}
#search{
	float:right;
	margin-top:-5px;
}
#validator {
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
}
	

@media only screen and (max-width: 480px), only handheld {
	.state:after {
		content: "Under 480";
	}
	

	body
	{
		width: 480px;
		margin-top: 0;
	}
	
		
	header 
	{
		width: 432px;
		height: auto;
	}
	
	header h1  {
		margin: 0;
	}
	
	#wrapper
	{
		padding: 0 10px;
		min-width: 0;
		width: 480px;
		border: none;
		box-shadow: none;
	}
	
	nav#main {
		margin: 10px 0 0 0;
		width: 432px;
		height: 60px;
		padding: 15px 0 0 0px;
		border:1px solid black;
	}

	nav#main ul {
		list-style-type: none;
		margin: 15px 0;
		border: 0;
		padding: 0;
		margin: 0;
		padding-bottom: 30px;
	}
	
	nav#main li {
		float: left;
		text-align: center;
		margin-left: 15px;
		width: 25%;
		margin: 0;
		padding: 0;
	}
	
	nav#main li a {
		display: block;
		padding: 0;
		text-decoration: none;
		width: auto;
		color:#2f2b2b;
	}
	
	nav#main li a:hover	{
		font-weight: bold;
		background: #343131;
		color:white;
		text-decoration: none;
	}
	
	#search  {
		float: none;
		padding: 0 0 0 120px;
	
	}

	#media-hide {
		display: none;
	}

	
	#leftcolumn { 
	float: none;
		height: 144px;
		width: 432px;
		margin-top: 10px;
		padding-bottom: 5px;
		border: 1px solid black;
	} 
  
	#leftcolumn ul {
		padding: 5px 20px;
		list-style-type: none;
		margin: 5px 0;
		border: 0;
	}

	#leftcolumn li {
		float: left;
		text-align: left;
		width: 50%;

	}
	
	#leftcolumn	li a {
	}
	
	#leftcolumn	li a:hover {
	}
	
	#leftcolumn h3 {
		margin: 0;
		border: none;
		border-bottom: 1px solid black;
	}	 

	#rightcolumn { 
		font-size: 80%;
		margin: 0;
		margin-top: 11px;
		width: 432px;
		height:auto;
		padding: 0 1px;

	}

	#footer	{
		font-size: 80%;
		font-weight: bold;
		height: 40px;
		width: 432px;
		border:1px solid black;
	}   
}